.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #222;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
h1 {
    color: #fff;
}
p {
    line-height: 1.6;
    color: #fff;
}